# Project
.idea
haters/

# Node
node_modules
variables.env
variables.env.now

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Package Managers
yarn-error.log
npm-debug.log

# Cache
.awcache

# dev.js
.env
env.json